
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

/* shoxruhbek start  */
header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.nav__link {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.nav__links--links {
    color: orange;
}

.nav__links--link {
    color: black;
}

.Kontact {
    padding: 10px 25px;
    color: white;
    background-color: orange;
    border: none;
    margin-left: 60px;
    cursor: progress;
}

/* peyj 2 */
.quti{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__imgg {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.nav__imgg img {
    width: 350px;   
    height: 500px;
    margin-top: 100px
}


.text {
    width: 490px;
    height: 400px;
    padding: 10px 50px;
    margin-top: 40px;
}
.katta__text{
    margin-top: 30px;
}

.texts {
    width: 490px;
    font-size: 15px;
    color: #929A9F;
    margin-top: 30px;
}
.kinopka{
    padding: 10px 20px;
    background-color: orange;
    border: none;
    color: white;
    margin-top: 30px;
    cursor: pointer;
}

/* shoxruhbek end   */

/* Otabek start */
/* Otabek end  */

/* Muslimbek start */
/* Muslimbek end  */

/* Alisaad start */
/* Alisaad end  */

/* Azizbek bro start */

/* Azizbek bro end */
/* <!-- shoxruhbek start -->
        <!-- shoxruhbek end --> */

        /* <!-- Otabek start -->*/
        .Otabek{
            margin-bottom: 70px;
        }

        .Otabek__text{
            margin-left: 40px;
        }

        .Otabek__text--paragrf{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 18px;
        }

        .Otabek__text--paragrff{
            width: 520px;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 80px;
            color: #929A9F;
        }

        .cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .cards__box--text{
            margin-left: 40px;
            width: 312px;
            font-size: 20px;
            font-weight: 500;
            color: #263640;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .cards__box--paragrf{
            margin-left: 40px;
            width: 312px;
            font-size: 16px;
            font-weight: 500;
            color: #929A9F;
            margin-bottom: 25px;
        }

        .cards__box--paragrff{
            margin-left: 40px;
            font-size: 16px;
            font-weight: 500;
            color: #FF9900;
        }

        /*<!-- Otabek end --> */
/* <!-- Otabek start -->
        <!-- Otabek end --> */

        /* /* <!-- Muslimbek start --> */

        .history-section {
            width: 1000px;
            height: 650px;
            margin: 40px auto;
            
            position: relative;
            overflow: visible; 
        }
        
        .history-section--left {
            width: 83%;
            height: 76%;
            border: 1px solid #000;
            background-color: rgba(38, 54, 64, 1);
        }
        
        .history-section--left--title {
            color: rgba(146, 154, 159, 1);
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 10%;
            text-transform: uppercase;
            margin-top: 78px;
            margin-left: 78px;
        }
        
        .history-section--left--subtitle {
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            margin-left: 78px;
            margin-top: 24px;
            color: white;
        }
        
        .history-section--left--info {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: white;
            margin-left: 78px;
            margin-top: 24px;
        }
        
        .history-section--left--linediv {
            width: 496px;
            height: 1px;
            margin-left: 78px;
            background-color: white;
            margin-top: 36px;
        }
        
        .history-section--left--btn {
            border: none;
            display: flex;
            align-items: center;    
            margin-left: 78px;
            margin-top: 24px;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: white;
        }
        
        .history-section--right {
            position: absolute;
            top: 55%;
            right: -80px;        
            transform: translateY(-50%);
            width: 488px;
            height: 650px;
        
            background-image: url(./images/Image.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
     
        /* <!-- Muslimbek end --> */ 
/* <!-- Muslimbek start -->
        <!-- Muslimbek end --> */

.none {
    display: flex;
    justify-content: center;
}

.div {
    width: 1216px;
    height: 489px;
    margin-top: 50px;
}

.forst__logo {
    font-size: 32px;
    color: #263640;
}

.forst__paragref {
    width: 488px;
    color: #929A9F;
    margin-top: 40px;
    font-size: 16px;
}

.forst__text {
    color: #929A9F;
    font-size: 15px;
    margin-top: 80px;
}
.btn{
    margin-left: 1124px;
background-color: #FF9900;
color: white;
border: none;
padding: 5px 2px;
}
.div__second {
    display: flex;
    justify-content: space-between;
}

.second__text {
    width: 361px;
    height: 212px;
    margin-top: 25px;
}

.text__logo {
    width: 361px;
    height: 60px;
    color: #263640;
    font-size: 20px;
}

.text__paragref {
    font-size: 15px;
    margin-top: 45px;
}

.text__btn {
    color: #FF9900;
    font-size: 16px;
    border: none;
    background-color: white;
    margin-top: 48px;
}


/* <!-- Alisaad end --> */

        /* /* <!-- Azizbek bro start --> */
/* <!-- Azizbek bro start -->

        /* <!-- Azizbek bro end --> */
