*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

        /* <!-- shoxruhbek start -->
        <!-- shoxruhbek end --> */

        /* <!-- Otabek start -->
        <!-- Otabek end --> */

        /* <!-- Muslimbek start -->
        <!-- Muslimbek end --> */

        /* <!-- Alisaad start -->
        <!-- Alisaad end --> */

        /* <!-- Azizbek bro start -->

        <!-- Azizbek bro end --> */